.array-container {
  /* position: absolute;
    left: 10vw;
    top: 40vh; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;


}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  max-width: 700px;
}

.btnlist {
  position: absolute;
  bottom: 0;


}

button {
  font-size: 1.5rem;
  margin: 1rem;
  padding: 0.75rem;
}

img {

  max-height: 300px;
  max-width: 400px;
}

@media screen and (max-width: 600px) {
  img {

    height: 300px;
    width: 100%
  }
}

.box {
  /* width: 100%;
  max-width: 80%;*/
  width: 600px;
  margin: 0.5rem;
  padding: 1rem;

}

.array-bar {
  width: 5px;
  display: inline-block;
  margin: 0 1px;
}